@keyframes gradientBackground {
    0% {
      background-color: #4a90e2;
      background-image: linear-gradient(0deg, #4a90e2 0%, #4f42c7 100%);
    }
    50% {
      background-color: #56ccf2;
      background-image: linear-gradient(0deg, #56ccf2 0%, #2f80ed 100%);
    }
    100% {
      background-color: #4a90e2;
      background-image: linear-gradient(0deg, #4a90e2 0%, #4f42c7 100%);
    }
  }
  
  .animated-background {
    animation: gradientBackground 10s ease infinite;
  }
  